body {
  margin: 0;
  font-family: 'Maitree', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.container {
  width: 80%;
  margin: auto;
}

nav {
  margin: auto;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  list-style: none;
}

.userDetails {
  margin: 0 1em;
}

.profile-pic {
  border-radius: 50%;
  max-height: 50px;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-family: 'Lora', serif;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  font-size: 0.75em;
  text-align: right;
}

.details {
  margin: 0 2em;
  font-size: 0.75em;
  padding: 1em 1.25em;
  border: solid 1px gray;
  text-align: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.project {
  border: solid 3px black;
  margin-bottom: 1.25em;
  padding: 0 1.25em;
}

.project-head {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-body {
  margin: auto;
  max-width: 80%;
}

.project-title {
  display: flex;
}

.project-title > h3 {
  padding-right: 1.25em;
}

.project-title > span {
  padding-top: 0.5em;
}

.action-li {
  padding: 0.5em;
  margin-bottom: 0.75em;
}

.action-content {
  display: flex;
}

.trash {
  padding-right: 0.25em;
  color: red;
}

.action-complete {
  text-decoration: line-through;
  opacity: 0.33;
}

.project-footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.5em;
  max-width: 50%;
  margin-left: 45%;
}

.project-footer > p {
  padding-right: 2em;
}

.new-project {
  max-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.new-project h2 {
  text-align: center;
}

.sidebar-list ul {
  margin: 0;
  padding: 0;
}

.sidebar-list ul li {
  list-style: none;
  max-width: 250px;
  margin: 0.75em 0;
  font-size: 0.8em;
}

.sign-up {
  max-width: 80%;
  margin: auto;
}

.profile-logo {
  border-radius: 50%;
}

.message {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 100px;
  opacity: 1;
  transition: opacity 3s;
}

.message-hide {
  display: none;
}

.message-fade {
  opacity: 0;
}

.message-none {
  display: none;
}

.message-delete {
  background-color: red;
  color: white;
}

.message-create {
  background-color: green;
  color: white;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 0.75em;
  bottom: 0px;
}
